/* makes offloaded tabs more obvious by greying them out */
.tabbrowser-tab[pending="true"] {
  filter: grayscale(0.6);
  opacity: 0.8;
}

/* removes scrollbar in tab panel */
scrollbox:nth-child(5) {
  scrollbar-width: none !important;
}
#zen-tabs-wrapper {
  scrollbar-width: none !important;
}

/* makes ctrl+tab panel favicons look a little better */
@-moz-document url-prefix("chrome:") {
  #ctrlTab-panel {
    --panel-background: transparent !important;
    overflow: hidden !important;
    border-radius: 16px !important;
    #ctrlTab-previews {
      .ctrlTab-preview {
        .ctrlTab-favicon-container image {
          position: absolute;
          height: 32px !important;
          width: 32px !important;
          bottom: 0;
          right: 0;
          background: linear-gradient(to bottom, #ffffffef, #ffffff) !important;
        }
        .ctrlTab-preview-inner {
          background: linear-gradient(to bottom, #52525b, #3f3f46) !important;
          border: none !important;
        }
        /* focused tab background */
        &:focus {
          .ctrlTab-preview-inner {
            background: linear-gradient(to bottom, #27272a, #18181b) !important;
            border: none !important;
          }
          .ctrlTab-favicon-container image {
            background: linear-gradient(to bottom, #a78bfa, #4c1d95) !important;
          }
        }
      }
    }
  }
}

